/* .banner {
  background: url("https://i.ibb.co/sKnSCLL/front-view-focused-boy-playing.jpg")
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  border-radius: 0.6rem;
}
.banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner div {
  z-index: 9;
}
.banner-quote {
  position: absolute;
} */

/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* custom banner style */
.banner_div {
  height: 80vh;
  width: 100%;
}
.banner_div::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner_div1 {
  background: url("https://i.ibb.co/v35M6vz/atish-sewmangel-NYb-Tdr-Bh740-unsplash.jpg")
    no-repeat center center;
  background-size: cover;
}
.banner_div2 {
  background: url("https://i.ibb.co/Z8v7Pr6/gimmel-magaway-h-CIPLW9-Cl-Og-unsplash.jpg")
    no-repeat center center;
  background-size: cover;
}
.banner_div3 {
  background: url("https://i.ibb.co/vhxjc4H/uday-tadphale-Cw-Mg-Shbz-Brc-unsplash.jpg")
    no-repeat center center;
  background-size: cover;
}
